/**A FAIRE EN PREMIER: REMPLACER LE ROUGE #a20003 par la couleur souhaitée (Utiliser le remplacement auto)**/

/**FICHIER CSS**/

/**PARAMETRE DE LA PAGE**/
body{
font-family: 'Roboto', 'sans-serif';
background-color:#ffffff;
font-size: 13px;
margin:0;
color: #606060;
font-weight: normal;
			
}

body img{
border: none;
}



/**Ensemble de DIV**/
li{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
a{
	margin:0;
	padding:0;
}

div {
padding:0;
margin:0;
}

img{
border: none;
padding:0;
margin:0;
}

p {
border: none;
padding:0;
margin:0;
}
.clear {
clear: both;
}

/**PICTOS TABLEAU**/

.dispo1{
height: 25px;
width: 25px;
background-color: #555555;
background-image: url("../graph/pictos/picto.png");
}

.dispo2{
height: 25px;
width: 25px;
background-color: #555555;
background-image: url("../graph/pictos/picto.png");
}

/**COMPORTEMENT DES LIENS**/
a:link {
color:#000000;
text-decoration:none;
border: 0px solide #FFFFFF;
}
a:visited{
color:#000;
text-decoration:none;
border: 0px solide #FFFFFF;
}
a:hover{
color:#000;
border: 0px solide #FFFFFF;
}

/**DEBUT DU CONTENU DU SITE**/

#conteneur { 
width: 100%;
margin: 0 auto;
margin: 0;

}

/**HEADER**/

#header {
width: 1000px;
height:145px;
background-color:#ffffff;
margin: 0 auto;
padding-top: 30px;
}

#logo{


}

.facebook{
margin: 3px 0px 0px 0px;
padding:0px 0px 0px 0px;
background-color:#e6213d;
position:fixed;
left: 1px;
top:180px;
z-index:99999999;
float:left;
}
.facebook2{
margin: 3px 0px 0px 0px;
padding:0px 0px 0px 0px;
background-color:#1F335C;
position:fixed;
left: 1px;
top:240px;
z-index:99999999;
float:left;
}
.facebook3{
margin: 3px 0px 0px 0px;
padding:0px 0px 0px 0px;
background-color:#1F335C;
position:fixed;
left: 1px;
top:300px;
z-index:99999999;
float:left;
}
.facebook a:hover  img {

}


/****************CONTENU*************/

#corps { 
width: 1000px;
min-height: 480px;
margin: 0 auto;
color: #000000;
background-color:transparent;
padding: 120px 0px 20px 0px;
margin-bottom: 130px;
}

#corpslog { 
width: 530px;
float: left;
height: 100%;
margin: 0;
color: #000000;
background-color:#ffffff;
padding: 200px 0px 20px 100px;

}

#conteneur2 { 
width: 100%;
height:1400px;

background-image: url(../graph/background.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: fixed;
margin: 0 auto;
color: #000000;


}


#corps hr {
border-style: dotted;
margin: 5px 0px;
color: #AEAEAE;
}

#corps li, ul {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}


/****************COLONNE COORDONNEES*************/
#gauche {
float: left;  
width: 20%;
min-height: 1000px;
background-color: transparent;
background-repeat: repeat-x;
padding: 0 5px 0 0;
}


#gauche1 {
background-image: url(../graph/rouge1.png);
width: 150px;
height: 150px;
}
#gauche1:hover {
background-image: url(../graph/rouge1hover.png);
}

#gauche2 {
background-image: url(../graph/rouge2.png);
width: 150px;
height: 150px;
margin-top: 60px;
}
#gauche2:hover {
background-image: url(../graph/rouge2hover.png);
}
#gauche3 {
background-image: url(../graph/rouge3.png);
width: 150px;
height: 150px;
margin-top: 60px;

}
#gauche3:hover {
background-image: url(../graph/rouge3hover.png);
}





#droite {
float: right; 
width: 77%;
background-color: transparent;
min-height: 1000px;

}

.droite1 {
background-image: url(../graph/1.png);
background-repeat: no-repeat;
float: left;
width: 140px;
height: 50px;
font-size: 17px;
color: #000000;
padding: 5px;
padding-top: 120px;
text-align: left;
}
.droite1:after {	

content: "CARTOGRAPHIE";
}
.droite1:hover{
font-size: 14px;
background-color: #1f335c;
background-image: none;
color: #ffffff;
padding: 5px;
height: 140px;


}

.droite1:hover:after {
font-size: 12px;
content: "Cartes des interventions et des moyens et des bla blasb ou rirhi r";
text-align: justify;

}

.droite2 {
margin-left: 130px;
float: left;
background-image: url(../graph/2.png);
background-repeat: no-repeat;
width: 140px;
height: 50px;
font-size: 17px;
color: #000000;
padding: 5px;
padding-top: 120px;
text-align: center;
}
.droite2:after {	

content: "GESTION OPERATIONNELLE";
}
.droite2:hover{
font-size: 14px;
background-color: #1f335c;
background-image: none;
color: #ffffff;
padding: 5px;
height: 140px;

}

.droite2:hover:after {
font-size: 12px;
content: "Cartes des interventions et des moyens et des bla blasb ou rirhi r";
text-align: justify;

}

.droite3 {
margin-left: 130px;

float: left;
background-image: url(../graph/3.png);
background-repeat: no-repeat;
width: 140px;
height: 50px;
font-size: 17px;
color: #000000;
padding: 5px;
padding-top: 120px;
text-align: center;
}
.droite3:after {	

content: "ADMINISTRATION";
}
.droite3:hover{
font-size: 14px;
background-color: #1f335c;
background-image: none;
color: #ffffff;
padding: 5px;
height: 140px;


}

.droite3:hover:after {
font-size: 12px;
content: "Cartes des interventions et des moyens et des bla blasb ou rirhi r";
text-align: justify;

}

.droite4 {
background-image: url(../graph/4.png);
background-repeat: no-repeat;
float: left;
width: 140px;
height: 140px;
font-size: 17px;
color: #000000;
padding: 5px;
padding-top: 120px;
text-align: center;
}
.droite4:after {	

content: "GESTION DES GARDES";
}
.droite4:hover{
font-size: 14px;
background-color: #1f335c;
background-image: none;
color: #ffffff;
padding: 5px;

}

.droite4:hover:after {
font-size: 12px;
content: "Cartes des interventions et des moyens et des bla blasb ou rirhi r";
text-align: justify;

}

.droite5 {
margin-left: 130px;
float: left;
background-image: url(../graph/5.png);
background-repeat: no-repeat;
width: 140px;
height: 140px;
font-size: 17px;
color: #000000;
padding: 5px;
padding-top: 120px;
text-align: center;
}
.droite5:after {	

content: "GESTION DES DONNES CIS";
}
.droite5:hover{
font-size: 14px;
background-color: #1f335c;
background-image: none;
color: #ffffff;
padding: 5px;

}

.droite5:hover:after {
font-size: 12px;
content: "Cartes des interventions et des moyens et des bla blasb ou rirhi r";
text-align: justify;

}

.droite6 {
margin-left: 130px;

float: left;
background-image: url(../graph/6.png);
background-repeat: no-repeat;
width: 140px;
height: 140px;
font-size: 17px;
color: #000000;
padding: 5px;
padding-top: 120px;
text-align: center;
}
.droite6:after {	

content: "STATISTIQUES";
}
.droite6:hover{
font-size: 14px;
background-color: #1f335c;
background-image: none;
color: #ffffff;
padding: 5px;

}

.droite6:hover:after {
font-size: 12px;
content: "Cartes des interventions et des moyens et des bla blasb ou rirhi r";
text-align: justify;

}





.contact {
background-image: url(../graph/colonne.png);
padding: 2px 5px 0px 5px;
margin-bottom: 15px;

border: 3px solid;
border-style: outset;
border-color: #C0C0C0;

border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius:10px;

-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
}
/****************TEXTE DU CONTENU*************/

h1 {
font-family: 'Roboto',"Trebuchet MS", Arial, sans-serif;
padding: 20px 0px 4px 0px;
font-size: 16px;
color: #000000;
border: 0px solid;
border-bottom: 0px solid ;
border-style: solid;
border-color: #e8e8e8;
letter-spacing: 4px;
font-weight: normal;
line-height: 25px;
}

.texte {
font-family: 'Roboto', Arial, sans-serif;
padding: 20px 0px 40px 0px;
letter-spacing: 1px;
text-align: justify;
font-weight: normal;
line-height: 20px;

-webkit-columns: 2;
			-moz-columns: 2;
			columns: 2;
			-webkit-column-gap: 5em;
  -moz-column-gap: 5em;
  column-gap: 5em;
  
  -webkit-column-rule: 0.5em dotted #e8e8e8;
  -moz-column-rule: 0.5em dotted #e8e8e8;
  column-rule: 0.5em dotted #e8e8e8;
			
}

.texte2 {
font-family: "Trebuchet MS", Arial, sans-serif;
padding: 20px 0px 40px 0px;
letter-spacing: 1px;
text-align: justify;
font-weight: normal;
line-height: 20px;			
}


.intro { 

font-family: "Trebuchet MS", Arial, sans-serif;
padding: 10px 0px 20px 0px;
letter-spacing: 1px;

text-align: justify;
font-style: italic;
line-height: 20px;
}



/****************ENCARTS*************/

/**ENCART GALERIE**/

.encartseul{
font-family: "Trebuchet MS", Arial, sans-serif;
float: left;
background-color: #1f335c;

margin-bottom: 10px;
margin: 0px;
    padding: 5px 12px;
    width: 994px;

-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.5);
-moz-box-shadow:0 4px 4px rgba(0,0,0,0.5);
box-shadow:0 4px 4px rgba(0,0,0,0.5);
}


/**ENCARTS CONTACT**/

.encartgauche {
float: left;
width: 45%;
background-color: #e8e8e8;
padding: 0 15px;
margin-bottom: 15px;
margin: 20px 0px 0px 0px;
height: 700px;

-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
}

.encartdroite {
float: right;
width: 45%;
background-color: #ffffff;
padding: 0px 15px;
margin: 20px 0px 0px 0px;
height: 700px;

-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.5);
-moz-box-shadow:0 4px 4px rgba(0,0,0,0.5);
box-shadow:0 4px 4px rgba(0,0,0,0.5);
}
















/**HOME PAGE**/

.encarthome {
font-size: 38px;
color: #ffffff;
float: left;
width: 280px;
background-color: #1f335c ;

margin: 30px 35px 30px 0px;
height: 90px;
-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
opacity: 0.9;
padding: 50px 15px 15px 15px;

}

.encarthome:hover {
opacity: 1;
text-align: justify;
}

.encarthome:after {	
content: "Impressions Grands Formats";
}


.encarthome:hover:after {
font-size: 16px;
content: "Nous imprimons tout type de supports et de formats pour vos besoins en signalétique : bâches, vinyles autocollant, affiches, panneaux, akylux ... ";

}

.encarthome2 {
font-size: 38px;
color: #ffffff;
float: left;
width: 280px;
background-color: #1f335c ;

margin: 30px 35px 30px 0px;
height: 90px;
-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
opacity: 0.9;
padding: 50px 15px 15px 15px;

}

.encarthome2:hover {
opacity: 1;
text-align: justify;
}

.encarthome2:after {	
content: "PLV et événementiel";
}


.encarthome2:hover:after {
font-size: 16px;
content: "Nous réalisons vos supports pour vos événements et salons : roll'ups, kakemonos, présentoires, bâches, panneaux, fonds de stands ... ";

}



.encarthome3 {
font-size: 38px;
color: #ffffff;
float: left;
width: 280px;
background-color: #1f335c;
margin: 30px 0px 30px 0px;
height: 90px;
-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
opacity: 0.9;
padding: 50px 15px 15px 15px;
}

.encarthome3:hover {
opacity: 1;
text-align: justify;
}

.encarthome3:after {	
content: "Décoration et agencement";
}


.encarthome3:hover:after {
font-size: 16px;
content: "Nous pouvons réaliser la décoration de votre boutique, bureau ou habitation en réalisant des tableaux personnalisés, impression de papier peint à vos couleurs... ";

}


.encarthome4 {
font-size: 38px;
color: #ffffff;
float: left;
width: 280px;
background-color: #c7e12d ;

margin: 30px 35px 30px 0px;
height: 90px;
-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
opacity: 0.9;
padding: 50px 15px 15px 15px;

}

.encarthome4:hover {
opacity: 1;
text-align: justify;
}

.encarthome4:after {	
content: "Création graphique";
}


.encarthome4:hover:after {
font-size: 16px;
content: "Nos graphistes peuvent se charger de créer vos fichiers mais peuvent égelement créer votre logo et votre charte graphique";

}

.encarthome5 {
font-size: 38px;
color: #ffffff;
float: left;
width: 280px;
background-color: #c7e12d ;

margin: 30px 35px 30px 0px;
height: 90px;
-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
opacity: 0.9;
padding: 50px 15px 15px 15px;

}

.encarthome5:hover {
opacity: 1;
text-align: justify;
}

.encarthome5:after {	
content: "Création de sites internet";
}


.encarthome5:hover:after {
font-size: 16px;
content: "Nous développons et gérons pour vous des sites internet sur-mesure: sites vitrine, site e-commerce, annonces...";

}



.encarthome6 {
font-size: 38px;
color: #ffffff;
float: left;
width: 280px;
background-color: #000000;
margin: 30px 0px 30px 0px;
height: 90px;
-webkit-box-shadow:0 4px 4px rgba(100,100,100,0.5);
-moz-box-shadow:0 4px 4px rgba(100,100,100,0.5);
box-shadow:0 4px 4px rgba(100,100,100,0.5);
opacity: 0.9;
padding: 50px 15px 15px 15px;
}

.encarthome6:hover {
opacity: 1;
text-align: justify;
}

.encarthome6:after {	
content: "Visiter notre atelier";
}


.encarthome6:hover:after {
font-size: 16px;
content: "Implantée à Parempuyre, à quelques kilomètres de Bordeaux, la société I2p dispose de tout le materiel nécessaire pour répondre à toute vos demandes";

}


/****************MENU PIED DE PAGE*************/

#pied { 
clear: both;
margin: 0 auto;
width:100%; 
height:50px;
background-color:#000000;
text-align: right;
padding: 15px 0px 0px 0px;
position: fixed;
bottom: 0px;

}


#pied2 { 
clear: both;
margin: 0 auto;
width:1000px; 
height:30px;
max-height:30px;
background-color:transparent;
text-align: right;
padding: 0px 0px 0px 0px;
}

#pied2 a{ 
margin: 0px 5px;
font-size: 11px;
letter-spacing: 2px;
text-transform: uppercase;
line-height: 30px;
font-weight: normal;
color: #ffffff;
}

#pied2 a:hover{ 
color: #808080;
-webkit-transition: 1s ease;
			-moz-transition: 1s ease;
			-ms-transition: 1s ease;
			-o-transition: 1s ease;
			transition: 1s ease;

}


/****************MENU*************/

/*ARRIERE PLAN*/
#bgmenu{
width: 100%;
height:54px;
background-color: #1f335c;
margin: 0;
padding: 0;
position: fixed;
			z-index: 999999999;

}

#logogipsi{
float: left;

}
#horloge {
float: left;
color: #ffffff;
font-size: 18px;
padding-top: 15px;
padding-left: 30px;
}
/*STRUCTURE*/
#nav {
width: 1100px;
margin: 0 auto;
margin-top: 0;
padding: 0;
height: 60px;
text-align: left;
}

#nav li {  
display: inline;
list-style: none;
}

#nav a {  
display:inline-block;  
margin: 0px;
padding: 0px;
}
#nav ul {  
margin: 0;  
padding: 0;
}

/*ASPECT DU MENU*/



/*TEXTE DU MENU*/
#menu{
position: relative;
top: 0px;
width: 1100px;
height: 54px;
}


#menu a {
display:block;
color: #ffffff;
text-align:center;
text-decoration:none;
text-shadow: 0 0 0;
letter-spacing: 1px;
text-transform: uppercase;
font-size: 14px;
line-height:54px;
margin: 0;
padding: 0;
}



